<link rel="stylesheet" href="/static/style.css">
<div class="gifSecretContainer-Container">
  <div class="gifSecretContainer" id="gifSecret">
    <img class="gifSecret-image" alt="Райан Гослинг в фильме Бегущий по лезвию лежит на ступеньках" src="/static/images/gosling-sad-gosling.gif">
    <p class="unusualRedText" id="gifSecret-close-btn" style="font-size: 24px">X</p>
    <p><span class="arrow-left" style="font-size: 24px">< </span><span class="arrow-right"  style="font-size: 24px"> ></span></p>
    <div class="volume-control-container">
      <label for="volume-control" class="normalBlueText"></label>
      <input class="neon-slider" type="range" id="volume-control" min="0" max="1" step="0.01" value="0.5">
    </div>
  </div>
  <div class="gifSecretContainer" id="gifSecret2">
    <img class="gifSecret-image" alt="Райан Гослинг в фильме Бегущий по лезвию лежит на ступеньках" src="/static/images/good-mood-gosling.gif">
    <p class="unusualRedText" id="gifSecret-close-btn2" style="font-size: 24px">X</p>
    <p><span class="arrow-left" style="font-size: 24px">< </span><span class="arrow-right"  style="font-size: 24px"> ></span></p>
    <div class="volume-control-container">
      <label for="volume-control" class="normalBlueText"></label>
      <input class="neon-slider" type="range" id="volume-control2" min="0" max="1" step="0.01" value="0.5">
    </div>
  </div>
  <div class="gifSecretContainer" id="gifSecret3">
    <img class="gifSecret-image" alt="Райан Гослинг в фильме Бегущий по лезвию лежит на ступеньках" src="/static/images/gosling3.gif">
    <p class="unusualRedText" id="gifSecret-close-btn3" style="font-size: 24px">X</p>
    <p><span class="arrow-left" style="font-size: 24px">< </span><span class="arrow-right"  style="font-size: 24px"> ></span></p>
    <div class="volume-control-container">
      <label for="volume-control" class="normalBlueText"></label>
      <input class="neon-slider" type="range" id="volume-control3" min="0" max="1" step="0.01" value="0.5">
    </div>
  </div>
  <div class="gifSecretContainer" id="gifSecret4">
    <img class="gifSecret-image" alt="Райан Гослинг в фильме Бегущий по лезвию лежит на ступеньках" src="/static/images/sandy-gosling.gif">
    <p class="unusualRedText" id="gifSecret-close-btn4" style="font-size: 24px">X</p>
    <p><span class="arrow-left" style="font-size: 24px">< </span><span class="arrow-right"  style="font-size: 24px"> ></span></p>
    <div class="volume-control-container">
      <label for="volume-control" class="normalBlueText"></label>
      <input class="neon-slider" type="range" id="volume-control4" min="0" max="1" step="0.01" value="0.5">
    </div>
  </div>
  <div class="gifSecretContainer" id="gifSecret5">
    <img class="gifSecret-image" alt="Райан Гослинг в фильме Бегущий по лезвию лежит на ступеньках" src="/static/images/gosling1.gif">
    <p class="unusualRedText" id="gifSecret-close-btn5" style="font-size: 24px">X</p>
    <p><span class="arrow-left" style="font-size: 24px">< </span><span class="arrow-right"  style="font-size: 24px"> ></span></p>
    <div class="volume-control-container">
      <label for="volume-control" class="normalBlueText"></label>
      <input class="neon-slider" type="range" id="volume-control5" min="0" max="1" step="0.01" value="0.5">
    </div>
  </div>
</div>
<div class="addAtmosphereContainer" id="play-btn">
  <div class="addAtmosphere" id="RealAddAtmosphere">
    <img style="width:169px; margin-bottom:10px; margin-right:20px" src="/static/icons/headerIcons/add vibe icon.png">
    <p class="normalRedText">добавить атмосферы</p>
  </div>
</div>
<div class="second-line-logo-container">
  <div class="addAtmosphere">
    <a href="/films"><img style="height:150px; margin-bottom:10px" src="/static/icons/headerIcons/watch all movies icon.png"></a>
    <p class="normalRedText">все фильмы</p>
  </div>
  <div class="logo-container">
    <a href="/"><img style="height:212px; margin-bottom:10px" src="/static/images/Стример смотрит лого.png"></a>
  </div>
  <a href="/"><div class="addAtmosphere">
    <img style="height:150px; margin-bottom:10px" src="/static/icons/headerIcons/watch all streamers icon.png">
    <p class="normalRedText">все стримеры</p>
  </div></a>
</div>
<div class="third-line-header-container">
  <div class="addAtmosphere" id="random-button">
    <img style="height:150px; margin-bottom:10px" src="/static/icons/headerIcons/random film icon.png">
    <p class="normalRedText">рандомный друг</p>
    <p class="normalBlueText">+</p>
    <p class="normalRedText">фильм</p>
  </div>
</div>

<div id="random-overlay" class="random-overlay hidden">
  <div class="random-wrapper">
    <div class="random-popup">
      <h2 class="random-title">Выбираем стримера и фильм...</h2>
      <div class="random-info">
        <img id="random-streamer-img" class="random-img" src="" alt="стример">
        <span class="random-plus">+</span>
        <img id="random-film-img" class="random-img" src="" alt="фильм">
      </div>
      <p id="random-names" class="random-names"></p>
      <a id="random-link" href="#" class="random-go-btn hidden">Перейти к фильму</a>
    </div>
    <span id="random-close-btn" class="random-close-btn">×</span>
  </div>
</div>


<audio id="flicker-sound" src="/static/audio/neon-flicker.mp3" preload="auto"></audio>
<audio id="BR-sound" src="/static/audio/lonely.mp3"></audio>
<audio id="BR-sound2" src="/static/audio/Tears In The Rain.mp3"></audio>
<audio id="BR-sound3" src="/static/audio/Elvis - falling in love.mp3"></audio>
<audio id="BR-sound4" src="/static/audio/Joi.mp3"></audio>
<audio id="BR-sound5" src="/static/audio/Frank_Sinatra-Summer_Wind.mp3"></audio>